<div class="page-navigator" ng-show="showNavigator">
	<div class="page-header pull-left">
		<div class="page-title">{{ navigatorTitle }}</div>
	</div>
	<div class="muti-function" ng-if="ansy" ng-show="false">
		<i class="fa fa-plus-square" ><a ui-sref="main.frame.NewOrganization">新建公司账户</a></i>
	</div>
	<!--<ol class="breadcrumb page-breadcrumb">-->
		<!--<li>-->
			<!--<i class="fa fa-home"></i>&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;-->
		<!--</li>-->
		<!--<li>-->
			<!--<a href="#">Frontend</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>-->
		<!--<li class="active">One Page</li>-->
	<!--</ol>-->
	<div class="clearfix"></div>
</div>
