<div id="sidebar">
	<ul class="nav">
		<li>
			<a ui-sref="main.frame.MenuManager">
				<i class="fa fa-tachometer fa-fw">
					<div class="icon-bg bg-orange"></div>
				</i>
				<span class="menu-title">餐厅订单</span>
				<span class="fa arrow"></span>
			</a>
		</li>

        <li>
            <a ui-sref="main.frame.MarketMenuManager">
                <i class="fa fa-tachometer fa-fw">
                    <div class="icon-bg bg-orange"></div>
                </i>
                <span class="menu-title">超市订单</span>
                <span class="fa arrow"></span>
            </a>
        </li>
		<li>
			<a ui-sref="main.frame.ShopManager">
				<i class="fa fa-laptop fa-fw">
					<div class="icon-bg bg-pink"></div>
				</i>
				<span class="menu-title">餐厅管理</span>
				<span class="fa arrow"></span>
			</a>
		</li>
        <li>
            <a ui-sref="main.frame.MarketManager">
                <i class="fa fa-laptop fa-fw">
                    <div class="icon-bg bg-pink"></div>
                </i>
                <span class="menu-title">超市管理</span>
                <span class="fa arrow"></span>
            </a>
        </li>
		<li>
			<a ui-sref="main.frame.WaiterManager">
				<i class="fa fa-desktop fa-fw">
					<div class="icon-bg bg-pink"></div>
				</i>
				<span class="menu-title">送单员管理</span>
				<span class="fa arrow"></span>
			</a>
		</li>
		<li>
			<a ui-sref="main.frame.UserManager">
				<i class="fa fa-user fa-fw">
					<div class="icon-bg bg-green"></div>
				</i>
				<span class="menu-title">用户管理</span>
				<span class="fa arrow"></span>
			</a>
		</li>
		<li>
			<a ui-sref="main.frame.SettleManager">
				<i class="fa fa-edit fa-fw">
					<div class="icon-bg bg-violet"></div>
				</i>
				<span class="menu-title">财务管理</span>
				<span class="fa arrow"></span>
			</a>
		</li>
		<li>
			<a ui-sref="main.frame.ComplainManager">
				<i class="fa fa-th-list fa-fw">
					<div class="icon-bg bg-blue"></div>
				</i>
				<span class="menu-title">投诉管理</span>
				<span class="fa arrow"></span>
			</a>
		</li>
        <li>
            <a ui-sref="main.frame.AdminManager">
                <i class="fa fa-th-list fa-fw">
                    <div class="icon-bg bg-blue"></div>
                </i>
                <span class="menu-title">账号管理</span>
                <span class="fa arrow"></span>
            </a>
        </li>

	</ul>
</div>