<div class="avatar">
  <div class="frame avatar" ng-class="empty">
    <div ng-if="!uploading" ng-click="selectFile()">
      <i class="fa {{icon || 'fa-archive'}} fa-3x"></i>
      <span>{{label || 'upload csv'}}</span>
    </div>

    <div ng-if="uploading">
      <div class="upload-knob">
        <knob knob-data="progress" data-thickness="0.3" data-width="30" data-height="30" knob-options="knobOptions"></knob>
      </div>
      <span>uploading...</span>
    </div>

    <input type="file" ng-file-select="onFileSelect($files)">
  </div>
</div>