<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">用户投诉基本信息</div>
            <div class="panel-body pan">
                <form novalidate class="form-horizontal form-seperated">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉编号:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.comId}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉人:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.userName}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉人电话:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.userPhone}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉订单号:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.mid}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">订单类型:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.type==1?'商家订单':'超市订单'}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">订单状态:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.menuStatus==1?'预订单':(comInfo.menuStatus==2?'配送中':(comInfo.menuStatus==3?'完成订单':'取消订单'))}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">订单金额:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.dishsMoney}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">运费:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.carriageMoney}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">服务人员姓名:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.waiterName}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">服务人员电话:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.waiterPhone}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉内容:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.content}}</span></div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉图片:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.imageName}}</span></div>
                        </div>-->
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉日期:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.createDate}}</span></div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">投诉处理信息</div>
            <div class="panel-body pan">
                <form novalidate class="form-horizontal form-seperated">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">处理结果:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.comResult==1?'通过':'驳回'}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">投诉人:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.userName}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">返还金额:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.returnMoney}}</span></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">服务人员姓名:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.waiterName}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">扣除金额:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.deductMoney}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">处理描述:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.comContent}}</span></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 control-label"><span class="help-block">处理日期:</span></div>
                            <div class="col-md-8"><span class="help-block">{{comInfo.updateDate}}</span></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>