
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box">
            <div class="portlet-header">
                <div class="caption">超市列表</div>
                <div class="actions">
                    <a ui-sref="main.frame.MarketManagerInsert" class="btn btn-info btn-xs">
                        <i class="fa fa-plus"></i>&nbsp;超市新增
                    </a>
                    <a ui-sref="main.frame.MarketManagerDishType" class="btn btn-info btn-xs btn-warning">
                        <i class="fa fa-wrench"></i>&nbsp;商品分类管理
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row mbm">
                    <div class="col-lg-3 pull-right">
                        <div class="input-group">
                            <input type="text" placeholder="查询条件" class="form-control" ng-model="searchStr">
                            <span class="input-group-btn">
                                <a ng-click="ToSearchList()" class="btn btn-primary">查询</a>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                    <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th>超市名</th>
                        <th>电话</th>
                        <!--<th>邮件</th>-->
                        <th>好评数</th>
                        <th>差评数</th>
                        <th>营业状态</th>
                        <th>当日营业时间</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in MarketListData">
                        <td>{{$index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.phone}}</td>
                        <!--<td>{{data.email}}</td>-->
                        <td>{{data.goodEvaluate}}</td>
                        <td>{{data.badEvaluate}}</td>
                        <td>{{data.openService==1?'营业':'不营业'}}</td>
                        <td>{{data.serviceTimes==""?(data.openService==1?'全天':''):data.serviceTimes}}</td>
                        <td>{{data.address}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="updateClick(data.smid)"><i class="fa fa-edit"></i>&nbsp;
                                修改
                            </button>&nbsp;
                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteClick($index,data.smid)"><i class="fa fa-trash-o"></i>&nbsp;
                                删除
                            </button>
                            <button type="button" class="btn btn-success btn-xs" ng-click="toDishManagerClick(data.smid)"><i class="fa fa-cog"></i>&nbsp;
                                商品管理
                            </button>
                            <button type="button" class="btn btn-success2 btn-xs" ng-click="toShopTimesClick(data.smid)"><i class="fa fa-cog"></i>&nbsp;
                                营业时间
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row mbm">
                    <div class="col-lg-12">
                        <div class="pagination-panel">
                            当前页
                            &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
                            <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"/>&nbsp;
                            <a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                            总页数 {{totalPage}} | 每页
                            &nbsp;{{countPage}}&nbsp;
                            条数据 | 总数据 {{totalCount}} 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>