<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-blue">
            <div class="panel-heading">请填写超市的营业时间</div>
            <div class="panel-body pan">
                <form ng-submit="submit()" ng-keypress="submit($event)" class="form-horizontal" novalidate>
                    <div class="form-body pal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">营业时间</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周一</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_1">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_1_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周二</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_2">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_2_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周三</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_3">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_3_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周四</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_4">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_4_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周五</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_5">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_5_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周六</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_6">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_6_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">周日</label>
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <select class="select2-size form-control" ng-model="openSelect_7">
                                                    <option value="1" ng-selected="true">营业</option>
                                                    <option value="0">歇业</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_1_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_1_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段二：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_2_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_2_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段一：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_3_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_3_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段四：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_4_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_4_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">时间段五：</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_5_1" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 control-label">----</label>
                                                    <div class="col-md-3">
                                                        <select class="select2-size form-control" ng-model="timeSelect_7_5_2" ng-options="m.name for m in timesSelectData">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">提交</button>&nbsp;
                            <button type="button" class="btn btn-green" ng-click="formCancleFun()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>