<div class="row">
    <div class="col-lg-12">
        <ul id="tableactiondTab" class="nav nav-tabs">
            <li class="active"><a data-target="#table-new-menu-tab" data-toggle="tab" ng-click="SettleTabClick(1)">送单员结算</a></li>
            <li><a data-target="#table-over-menu-tab" data-toggle="tab" ng-click="SettleTabClick(2)">用户收支记录</a></li>
            <li><a data-target="#table-giving-menu-tab" data-toggle="tab" ng-click="SettleTabClick(3)">系统收支记录</a></li>
        </ul>
        <div id="tableactionTabContent" class="tab-content">
            <div id="table-new-menu-tab" class="tab-pane fade in active">
                <div class="row">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="userNameSearchStr">
                                        <span class="input-group-btn">
                                            <a ng-click="searchUser();" class="btn btn-primary">查询</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a class="btn btn-info btn-xs" ng-click="UserSettleAll();">
                                        <i class="fa fa-plus"></i>&nbsp;全部结算
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id="table_id_new"
                                               class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>用户名</th>
                                                <th>真实姓名</th>
                                                <th>手机号</th>
                                                <th>本期余额</th>
                                                <th>收款账号类型</th>
                                                <th>收款账号</th>
                                                <th>操作</th>
                                            </tr>
                                            <tbody>
                                            <tr ng-repeat="data in ListsNew">
                                                <td>{{$index+1}}</td>
                                                <td>{{data.nickName}}</td>
                                                <td>{{data.firstName+data.lastName}}</td>
                                                <td>{{data.mobilePhone}}</td>
                                                <td>{{data.balance}}</td>
                                                <td>{{data.bankType}}</td>
                                                <td>{{data.bankAccount}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="UserSettle(data.uid)">
                                                        <i class="fa fa-edit"></i>&nbsp;结算
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                            </thead></table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="pagination-panel">
                                        当前页
                                        &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
                                        <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"/>&nbsp;
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                                        总页数 {{totalPage}} | 每页
                                        &nbsp;{{countPage}}&nbsp;
                                        条数据 | 总数据 {{totalCount}} 条
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-over-menu-tab" class="tab-pane fade">
                <div class="row">
                    <div class="portlet box">
                        <div class="portlet-body">
                            <div class="col-md-4">
                                <div class="col-md-2 control-label">日期</div>
                                <div class="col-md-10 input-group input-daterange">
                                    <input type="text" ng-model="startDateUser" class="form-control"/>
                                    <span class="input-group-addon">to</span>
                                    <input type="text" ng-model="endDateUser" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-3 pull-right">
                                <div class="input-group">
                                    <input type="text" placeholder="电话" class="form-control" ng-model="searchStrUser">
                                    <span class="input-group-btn">
                                        <a ng-click="ToSearchUserList()" class="btn btn-primary">查询</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id="table_id_over"
                                               class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>用户名</th>
                                                <th>真实姓名</th>
                                                <th>电话</th>
                                                <th>账户余额</th>
                                                <th>收支金额</th>
                                                <th>收支类型</th>
                                                <th>收支说明</th>
                                                <th>当前余额</th>
                                                <th>结算账号类型</th>
                                                <th>结算账号</th>
                                                <th>说明</th>
                                                <th>结算日期</th>
                                            </tr>
                                            <tbody>
                                            <tr ng-repeat="data in ListsOver">
                                                <td>{{$index+1}}</td>
                                                <td>{{data.nickName}}</td>
                                                <td>{{data.userName}}</td>
                                                <td>{{data.mobilePhone}}</td>
                                                <td>{{data.oldBalance}}</td>
                                                <td>{{data.settlePrice}}</td>
                                                <td>{{data.type==1?'收入':'支出'}}</td>
                                                <td>{{data.typeDesc}}</td>
                                                <td>{{data.curBalance}}</td>
                                                <td>{{data.settleNumberType}}</td>
                                                <td>{{data.settleNumber}}</td>
                                                <td>{{data.settleDesc}}</td>
                                                <td>{{data.createDate|brDateFilter}}</td>
                                            </tr>
                                            </tbody>
                                            </thead></table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="pagination-panel">
                                        当前页
                                        &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
                                        <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"/>&nbsp;
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                                        总页数 {{totalPage}} | 每页
                                        &nbsp;{{countPage}}&nbsp;
                                        条数据 | 总数据 {{totalCount}} 条
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="table-giving-menu-tab" class="tab-pane fade">
                <div class="row">
                    <div class="portlet box">
                        <div class="portlet-body">
                            <div class="col-md-4">
                                <div class="col-md-2 control-label">日期</div>
                                <div class="col-md-10 input-group input-daterange">
                                    <input type="text" ng-model="startDateServer" class="form-control"/>
                                    <span class="input-group-addon">to</span>
                                    <input type="text" ng-model="endDateServer" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-3 pull-right">
                                <div class="input-group">
                                    <input type="text" placeholder="电话" class="form-control" ng-model="searchStrServer">
                                    <span class="input-group-btn">
                                        <a ng-click="ToSearchServerList()" class="btn btn-primary">查询</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id="table_id_giving"
                                               class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>用户名</th>
                                                <th>真实姓名</th>
                                                <th>收支类型</th>
                                                <th>收支说明</th>
                                                <th>金额</th>
                                                <th>用户手机</th>
                                                <th>账号类别</th>
                                                <th>账号</th>
                                                <th>说明</th>
                                                <th>操作时间</th>
                                            </tr>
                                            <tbody>
                                            <tr ng-repeat="data in ListsGiving">
                                                <td>{{$index+1}}</td>
                                                <td>{{data.nickName}}</td>
                                                <td>{{data.userName}}</td>
                                                <td>{{data.type==1?'收入':'支出'}}</td>
                                                <td>{{data.typeDesc}}</td>
                                                <td>{{data.settlePrice}}</td>
                                                <td>{{data.mobilePhone}}</td>
                                                <td>{{data.settleNumberType}}</td>
                                                <td>{{data.settleNumber}}</td>
                                                <td>{{data.settleDesc}}</td>
                                                <td>{{data.createDate|brDateFilter}}</td>
                                            </tr>
                                            </tbody>
                                            </thead></table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mbm">
                                <div class="col-lg-12">
                                    <div class="pagination-panel">
                                        当前页
                                        &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
                                        <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page"/>&nbsp;
                                        <a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                                        总页数 {{totalPage}} | 每页
                                        &nbsp;{{countPage}}&nbsp;
                                        条数据 | 总数据 {{totalCount}} 条
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>